<%= render partial: 'posts/nolist-header' %>
<div class="content">
  <div class="content__career">
    <div class="content__career__left">
      <h2> 学歴・経歴 </h2>
      <div class="content__career__left__field">
        <div class="content__career__left__field__time">
        【更新日時】2020/10/5現在
        </div>
      </div>
      <%= link_to "戻る", :back, class: "content__career__left__back" %>
    </div>

    <div class="content__career__right">
      <div class="content__career__right__list">
        <div class="content__career__right__list__Gakureki">
          【学歴】<br/>
          大塚高校(体育科)→龍谷大学(経済学部現代経済学科)→<br>
          大阪厚生信用金庫→フリーター(現状)<br/>
        </div>
        <div class="content__career__right__list__Bukatsu">
          <div class="content__career__right__list__Bukatsu__small">
          【スポーツ活動歴(<span>赤</span>は<span>大会成績</span>または<span>メイン種目</span>)】<br />
          野球　2年（小学5〜６年生）
          </div>
          <div class="content__career__right__list__Bukatsu__medium">
          陸上競技　10年(中学1~大学4年生)<br>
          →中学1~3年　(中・長距離：400m・<span>800m</span>・1500m・3000m)<br>
          主な実績<br>
          <span>県大会出場(3年)<br></span>
          <自己ベスト(中学時)><br>
          (800m(2'09"),1500m(4'27"),3000m(10'10")
          </div>
          <div class="content__career__right__list__Bukatsu__high">
          →高校1~3年　(1500m・5000m・<span>競歩(5000m)</span>)<br>
          主な実績<br>
          <span>
          学年別近畿大会3位(1・2年),ジュニア競歩大会出場(1~3年)<br>
          近畿インターハイ7位(3年)<br>
          </span>
          <自己ベスト(高校時)><br>
          (1500m(4'21"),3000m(9'15"),5000m(17'00"),5000mW(21'37"))
          </div>
          <div class="content__career__right__list__Bukatsu__large">
          →大学1~4年　(競歩(5000mW・<span>10000mW</span>・20kmW))<br>
          主な実績<br>
          <span>
          関西インカレ出場(1~4年),西日本インカレ3位(2年)<br>
          関西種目別2連覇(1・2年),全日本種目別(3・4年)<br>
          全日本インカレ出場(3年),全日本輪島10km競歩(7位)<br>
          20km日本競歩大会出場(1~4年)<br>
          </span>
          <自己ベスト(大学時)><br>
          (5000mW(20'36"),10000mW(41'59"),20kmW(1:27'01"))
          </div>
        </div>
        <div class="content__career__right__list__status">
          【現状】<br/>
          ランニングは最低週2日<br>
          現在は冬にマラソン出場を目指しているので10~30kmを行っています。<br>
          マラソンの目標タイムは3時間切りです。<br>
          <br>
        </div>
    </div>
  </div>
</div>