<%= render partial: 'posts/nolist-header' %>
<div class="content">
  <div class="content__overview">
    <div class="content__overview__left">
      <h2> 制作概要 </h2>
      <div class="content__overview__left__category">
        <div class="content__overview__left__category__time">
        【更新日時】2020/10/27現在
        </div>
        <div class="content__overview__left__category__list">
        【カテゴリ】
        </div>
        <div class="content__overview__left__category__list">
        ・プログラミング(本業)
        </div>
        <div class="content__overview__left__category__list">
        ・プログラミング(副業)
        </div>
        <div class="content__overview__left__category__list">
        ・プログラミング(学習)
        </div>
        <div class="content__overview__left__category__list">
        ・ランニング
        </div>
        <div class="content__overview__left__category__list">
        ・副業(ネットビジネス)日記
        </div>
        <div class="content__overview__left__category__list">
        ・その他
        </div>
      </div>
      <%= link_to "戻る", :back, class: "content__overview__left__back" %>
    </div>

    <div class="content__overview__right">
      <div class="content__overview__right__list">
        【目的】<br/>
        ・アウトプットは自分の頭の整理になる<br>
        ・転職や仕事を紹介してもらう時にアピールできる<br>
        ・目標を達成するための日々の積み重ねを記録<br>
        ・Twitterで書ききれなかったことを記すこと<br>
        ・文章力の向上<br>
        ・モチベーションの維持<br>
        <br>
        【書く上で重要にしていること】<br />
        ・学んだことを箇条書きにする<br>
        ・読み返した時に理解できる程度の内容<br>
        ・今の時点で課題に思っていることをメモしておく<br>
        ・ブログ執筆は30分以内,3000文字以内に抑える<br>
        <br />
        【このさきやってみたいこと】<br/>
        Web系エンジニアとして働きたいと考えております。
        未経験からプログラミングスクールに通ったので簡単なWebデザイン、フロントエンド系の業務をこなすことは可能です。
        現時点で興味関心が強いのはサーバーサイド系ですが、未経験から学習しているため経験が少なく、実装できることも少ないため（JavaScript・jQueryなど）スクールで学習し、学びが不足している分野を日々、学習しています。<br/>
        今後もこれまで経験したことのない技術や業務のシステムに挑戦していきたい！
        何年経っても成長できる要素はあると学生時代の経験から学んだので日々の積み上げを大切にしてクライアントのニーズに答えれるようなサービスを制作していきたい。
        そのため基本的には、ITを活用して世の中の人々の役に立つものを作るというスタンスが達成できれば良いので言語などには囚われてなく必要であればどの言語でも学ぶ意欲があります。<br />
        <br>
        Java,PHP,C言語の学習予定
        <br>
        <br>
      </div>
    </div>
  </div>
</div>