<%= render partial: 'posts/nolist-header' %>
<div class="content">
  <div class="content__problem">
    <div class="content__problem__left">
      <h2> 実装機能・課題 </h2>
      <div class="content__problem__left__list">
      【更新日時】2020/8/18現在<br>
      </div>
      <%= link_to "戻る", :back, class: "content__problem__left__back" %>
    </div>

    <div class="content__problem__right">
      <div class="content__problem__right__list">
        【実装機能】<br>
        <必須><br>
        ・管理ユーザ登録・編集・削除機能、管理ユーザログイン機能<br>
        ・記事一覧投稿機能、記事詳細表示機能<br>
        ・記事投稿・編集・削除機能、rails6 actiontext機能<br>
        ・画像投稿、ページネーション機能<br>
        ・単体テスト、機能テスト、統合テスト<br>
        <br>
        <応用><br>
        ・カテゴリ機能、投稿文字数カウント機能<br>
        ・コメント機能、非同期いいね機能、検索機能<br>
        ・パンくず機能、slick導入でスライド<br>
        ・もっと見る機能(投稿部分)、もっと見る機能(コメント部分)<br>
        ・絵文字投稿<br>
        <br>
        <br>
        【投稿記入】<br>
          ・学習内容（今日の積み上げ、今日の積み上げ時間、今日やったこと、具体的な内容）<br>
          ・練習内容（走行距離、時間、場所、時間、感想）<br>
        <br>
        <br>
        【課題】<br/>
          ・コメント部分のユーザー別表示<br>
          <span>理由：コメントしたユーザーが分かり易い様にする</span><br>
          ・エンジニア言語スキルをグラフ化<br>
          <span>理由：自らのスキルを可視化し、モチベーションに繋げる</span><br>
          ・編集での画像・カテゴリ部分の問題を解消<br>
          <span>理由：viewで表示されていない為</span><br>
          ・スマホ対応のview表示<br>
          <span>理由：スマホで見ることが多い為、スマホ対応のviewにしていないと変なサイトになる</span><br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>