<%= render partial: 'posts/nolist-header' %>
<div class="content">
  <div class="content__problem">
    <div class="content__problem__left">
      <h2> 制作課題 </h2>
      <div class="content__problem__left__list">
      【更新日時】2020/5/25現在<br>
      </div>
      <%= link_to "戻る", :back, class: "content__problem__left__back" %>
    </div>

    <div class="content__problem__right">
      <div class="content__problem__right__list">
        【実装機能】<br>
        <必須><br>
        ・管理ユーザ登録・削除機能、管理ユーザログイン機能<br>
        ・記事一覧投稿機能、記事詳細表示機能、記事投稿・削除機能、rails6 actiontext機能<br>
        ・画像投稿、ページネーション機能<br>
        ・単体テスト、機能テスト、統合テスト<br>
        <br>
        <応用><br>
        ・Googleカレンダー、カテゴリ機能、非同期コメント機能、非同期いいね機能<br>
        ・投稿文字数カウント機能、検索機能、パンくず機能<br>
        ・slick導入でスライド、もっと見る機能(投稿部分)、もっと見る機能(コメント部分)<br>
        <br>
        <br>
        【課題】<br/>
          ・コメント部分のユーザー別表示<br>
          ・Readme記入<br>
        <br>
        <br>
        【未実装機能】<br/>
          ・本番環境に表示<br>
      </div>
    </div>
  </div>
</div>