<% @posts.each do |post| %>
  <div class="content">
    <div class="content__left">
      <div class="content__left--image"></div>
    </div>
    <div class="content__right">
      <div class="content__right__top">
        <%= post.title %>
      </div>
      <div class="content__right__bottom">
        <div class="content__right__bottom--date">
          <%= post.created_at %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<header class="header">
  <div class="header__title">
    <%= link_to "Je mets au défi la vie.", '/', class: "header__title--text" %>
  </div>
  <div class="header__right">
    <%= link_to "新規投稿", '/posts/new', class: "header__right--btn" %>
  </div>
</header>
<div class="contents">
</div>