.content {
  width: 100vw;
  height: 100%;
  &__problem {
    background-image: url(https://www.canva.com/ja_jp/learn/wp-content/uploads/sites/10/2020/03/zoom-backgrounds-banner.png);
    width: 100%;
    padding: 50px;
    padding-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    background-size: cover;
    padding-bottom: 320px;
    a{
      text-decoration: none;
      color: white;
    }
    &__left {
      float: left;
      width: 30%;
      position: relative;
      &:after {
        clear: both;
        content: "";
        display: block;
      }
      h2 {
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-size: 40px;
        font-weight: 200px;
  
        &:after {
          content: '';
          display: block;
          width: 180px;
          margin-top: 5px;
          border-bottom: 1px solid #38aef0;
        }
      }
      &__list {
        margin-bottom: 20px;
      }
      &__back {
        display: inline-block;
        width: 180px;
        height:50px;
        text-align: center;
        background-color: lightgreen;
        font-size: 16px;
        line-height: 52px;
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid lightgreen;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after{
          width: 100%;
          height: 0;
          content:"";
          position: absolute;
          top: 50%;
          left: 50%;
          background : #FFF;
          opacity: 0;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transition: .2s;
          z-index: -1;
        }
        &:hover{
          color: black;
        }
        &:hover:after{
          height: 240%;
          opacity: 1;
        }
        &:active:after{
          height: 340%;
          opacity: 1;
        }
      }
    }
    &__right {
      float: right;
      width: 70%;
      position: relative;
      &__list {
        background:rgba(255,255,255,0.45);
        padding-left: 20px;
        a {
          color:blue;
          &:hover {
            color:white;
          }
        }
        span {
          color: red;
        }
      }
    }
  }
}